@import url('https://fonts.googleapis.com/css2?family=Acme&family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background: #f3f4f6;
}

a{
    text-decoration: none;
    color: #1f2937;
}

img{
    object-fit: cover;
}

.btn{
    border: 2px solid #1f2937;
    background: #1f2937;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.btn:hover{
    color: #1f2937;
    background: #fff;
    border-color: #e5e7eb;
}

.btn--secondary{
    color: #1f2937;
    background: #fff;
    border: 2px solid #e5e7eb;
}

.btn--secondary:hover,
.hero__socials a:hover{
    color: #fff;
    background: #1f2937;
    border-color: #1f2937;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
}

.navbar__logo{
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 10px;
}

.navbar__logo i{
    font-size: 30px;
}

.navbar__menu,
.footer__links{
    display: flex;
    gap: 20px;
}
.navbar__link,
.footer__links a{
    font-size: 14px;
    font-weight: 500;
    transition: all 0.5s ease;
}

.navbar__link:hover,
.footer__links a:hover{
    color: #000;
}

.navbar__actions{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar__location h5{
    font-weight: 500;
    color: #6b7280;
    font-size: 12px;
}

.navbar__location p{
    font-size: 11px;
    font-weight: 600;
}

.navbar__actions .btn{
    padding: 6px 10px;
    font-size: 12px;
    font-weight: 500;
}

.hero{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 60px;
    gap: 60px;
    height: calc(100vh - 70px);
}

.hero__content,
.hero__intro{
    width: 50%;
}

.hero__content{
    margin-left: 20px;
    margin-top: 10px;
}

.hero__image{
    width: 340px;
    height: 340px;
    border-radius: 10px;
}

.hero__content h2{
    font-size: 45px;
    line-height: 60px;
    font-weight: 400;
    margin-top: 20px;
    width: 85%;
}

.hero__intro{
    margin-right: 50px;
}

.hero__intro h3{
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    margin-bottom: 10px;
}

.hero__intro p{
    color: #6b7280;
    font-weight: 500;
    margin-bottom: 30px;
}

.hero__actions,
.skills__action{
    display: flex;
    gap: 10px;
}

.hero__actions .btn,
.skills__action .btn{
    padding: 6px 20px;
    font-size: 12px;
    font-weight: 500;
}

.hero__socials{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 16px;
    right: 30px;
    top: 20%;
}

.hero__socials a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size: 20px;
    border: 2px solid #e5e7eb;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.skills{
    padding: 70px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.skills_desc,
.skills__info{
    width: 50%;
}

.skills_desc{
    padding-right: 80px;
}

.skills_desc h3{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}

.skills_desc p{
    color: #6b7280;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 30px;
}

.skills_stats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.skills_stats i{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.skills__info{
    width: 100%;
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.skills__info h5{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.skills__info p{
    width: 50%;
    color: #7a7a7a;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showcase{
    padding: 80px 60px 100px;
    background: #e5e7eb;
}

.showcase__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}
.showcase__header h3{
    font-size: 28px;
    font-weight: 400;
}

.showcase__header .btn{
    padding: 5px 16px;
    font-size: 13px;
    color: #fff;
    background: #1f2937;
    border-color: #1f2937;
}


.showcase__category .category:first-child{
    margin-bottom: 100px;
}

.category__header{
    display: flex;
    align-items: center;
}

.category__tittle,
.category__desc{
    width: 50%;
    display: flex;
    align-items: center;
}

.category__tittle{
    gap: 10px;
}

.category__tittle h4{
    font-size: 22px;
    font-weight: 400;
}

.category__tittle i{
    background: #fff;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
    box-shadow: 0 10px 30px rgb(0, 0, 0, 0.1);
}

.category__desc{
    gap: 40px;
    justify-content: space-between;
}

.category__desc p{
    font-size: 13px;
    color: #6b7280;
    font-weight: 500;
}

.category__desc a{
    font-size: 20px;
}

.category__projects{
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

.project-card{
    background: #fff;
    position: relative;
    width: 25%;
    height: 390px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgb(0, 0, 0, 0.1);
}

.project-card__image{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-position: top center;
    border: 1px solid #e5e7eb;
    margin-bottom: 20px;
}

.project-card__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    gap: 6px;
}

.project-card__info h5{
    font-size: 16px;
    font-weight: 500;
}

.project-card__info p{
    font-size: 11px;
    font-weight: 500;
}

.project-card__desc{
    font-size: 13px;
    color: #7a7a7a;
    margin-bottom: 30px;
}

.project-card .btn{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 8px 16px;
    border-radius: 16px 0 10px 0;
    border: none;
    color: #fff;
    background: #1f2937;
    font-size: 12px;
}

.project-card .btn:hover{
    background: #000;
}

.career{
    padding: 60px 60px 80px;
    display: flex;
    align-items: center;
    gap: 100px;
}

.career__experience,
.career__certi {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.career h3{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
}

.experience,
.certi{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #e5e7eb;
}

.experience i,
.certi div i{
    font-size: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 10px 30px rgb(0, 0, 0, 0.1);
}

.certi {
    justify-content: space-between;
}

.certi > div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.exp_info h5,
.certi_info h5{
    font-size: 15px;
    font-weight: 500;
}

.exp_info h5 span,
.certi_info h5 span{
    font-weight: 600;
}

.exp_info p,
.certi_info p{
    font-size: 13px;
    font-weight: 500;
    color: #6b7280;
}

.certi a i{
    font-size: 24px;
}

.contact{
    text-align: center;
    padding: 60px;
}

.contact h5{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px;
}

.contact h2{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
}

.contact .btn{
    padding: 6px 20px;
    border: 2px solid #1f2937;
    color: #fff;
    background-color: #1f2937;
    margin-bottom: 14px;
}

.contact p{
    color: #6b7280;
    font-size: 14px;
    font-weight: 500;
}

.contact p span{
    color: #1f2937;
    font-weight: 600;
    font-size: 13px;
}

.footer{
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__brand{
    display: flex;
    align-items: flex-end;
    gap: 30px;
}

.footer__brand a{
    font-weight: bold;
    font-size: 18px;
}

.footer__brand p{
    font-size: 13px;
    color: #6b7280;
    font-weight: 500;
}

@media screen and (max-width: 1230px){
    .hero__image{
        width: 100%;
    }

    .hero__content h2{
        font-size: 38px;
        text-align: center;
    }

    .hero__intro h3{
        font-size: 30px;
    }

    .hero__intro p{
        font-size: 15px;
    }

    .skills_desc{
        padding-right: 20px;
    }

    .skills_desc h3{
       font-size: 26px;
    }

    .skills_stats i{
        font-size: 50px;
    }

    .skills__info h5{
        font-size: 20px;
    }

    .skills__info p{
        font-size: 12px;
        width: 100%;
    }

    .category__tittle{
        width: 40%;
    }

    .category__desc{
        width: 60%;
    }

    .category__projects{
        flex-wrap: wrap;
    }

    .project-card{
        width: 48%;
    }

    .career h3{
        font-size: 30px;
    }
}

@media screen and (max-width: 992px) {
    .navbar{
        padding: 20px 30px;
    }

    .hero{
        padding: 100px 30px 40px;
    }

    .hero__intro h3{
        font-size: 22px;
        line-height: 34px;
    }

    .hero__image{
        height: 3%;
    }

    .hero__intro p{
        font-size: 13px;
    }

    .hero__content h2{
        font-size: 30px;
        line-height: 40px;
    }

    .skills{
        flex-direction: column;
        padding: 60px 30px 80px;
    }

    .skills_desc,
    .skills_stats,
    .category__tittle,
    .category__desc,
    .career__experience,
    .career__certi{
        width: 100%;
    }

    .project-card{
        width: 47%;
    }

    .skills_desc{
        padding: 0;
    }

    .showcase{
        padding: 80px 30px;
    }

    .category__header{
        flex-direction: column;
    }

    .category__tittle{
        margin-bottom: 20px;
    }

    .career{
        padding: 60px 30px 80px;
        flex-direction: column;
        gap: 60px;
    }
    .footer{
        padding: 20px 30px;
    }
}

@media screen and (max-width: 768px) {
    .navbar__actions{
        display: none;
    }

    .hero{
        flex-direction: column;
        height: auto;
        padding: 40px 30px 0px;
        gap: 30px;
    }

    .hero__content,
    .hero__intro{
        width: 90%;
    }

    .hero__content h2{
        width: 100%;
        font-size: 30px;
        margin-bottom: 10px;
    }

    .hero__socials{
        position: relative;
        flex-direction: row;
        right: auto;
        margin-top: 10px;
    }

    .showcase__header h3{
        font-size: 20px;
    }

    .showcase__header .btn{
        font-size: 12px;
    }

    .category__tittle h4{
        font-size: 17px;
    }

    .project-card{
        width: 100%;
        height: 500px;
    }

    .project-card__image{
        height: 280px;
    }

    .career  h3{
        font-size: 25px;
    }
    
    .footer{
        flex-direction: column-reverse;
        gap: 16px;
    }
}